*{
    margin : 0;
    padding : 0;
    box-sizing:border-box;
}
body{ 
    font-family: "Poppins", serif;
}
.header{
    background-color: #9F5255;
    height: 3rem;
    color: aliceblue;
    text-align: center;
    font-size: 2rem;
}
.body{
    background-color: #d45256ce;
    height: 100vh;
    text-align: center;
    color: #7C444F;
}
.footer{
    background-color: #7C444F;
    height: 3rem;
    text-align: center;
    color: #c04c63;
}